@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #090C02;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1403;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Javanese Text", sans-serif;
}

.card_color{
  color: #090C02;
  background-color: #BBC5AA;
}

.card_color:hover{
  color: #090C02;
  background-color: #BBC5AA;
  opacity: 0.9;
  cursor: pointer
}

.card_text{
  font-size: 1.25rem;
}